<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ntp.activity"
    android:installLocation="preferExternal" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />

    <application
        android:name=".GlobalVariable"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Anim_style2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".course.SearchCourseActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:screenOrientation="portrait"
            android:theme="@style/MyEditStyle"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".course.CoursetypeSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleTop" />
        <activity
            android:name=".me.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AnimLogin" />
        <activity
            android:name=".me.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".me.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".course.CourseDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="com.ntp.widget.MyConfirmDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".course.VideoPlayActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".me.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_style2" />
        <activity
            android:name="com.ntp.widget.MyProgress"
            android:screenOrientation="portrait"
            android:theme="@style/MyProgressStyle" />
        <activity
            android:name=".course.SearchHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleTop" />
        <activity
            android:name="com.ntp.widget.MyExitDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".me.MeInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".me.ModifyUserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_style2"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.ntp.widget.MySelectDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".me.HeadBrowseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".me.MyDownloadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_style2" />
        <activity
            android:name=".me.MyCourseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_style2" />


        <service
            android:name="com.ntp.service.DownloadService"
            android:exported="false" >
        </service>
    </application>

</manifest>
